name: Run Telegram Bot

on:
  workflow_dispatch:
  schedule:
    - cron: '*/10 * * * *'

jobs:
  run-bot:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python and create virtual environment
        run: |
          python -m venv venv
          .\venv\Scripts\activate
          python --version

      - name: Install dependencies
        run: |
          .\venv\Scripts\activate
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Telegram Bot
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
        run: |
          .\venv\Scripts\activate
          python bot.py
